/************************************************
*	Media Queries								*
************************************************/

/* iPad Styles */
	
@media handheld, only screen and (max-width: 1023px) {
	
	/* Typography */
	
	body {  
		font-size: 0.9rem; 
		line-height: 1.9; 
		}
	blockquote {
		font-size: 1.4rem;
		}
	}
		
@media handheld, only screen and (max-width: 1023px) {
	
	/* Theme */
	
	.container {
		/*margin: 12px;*/
		padding: 0px 24px;
		}
	#topbar {
	background: rgb(84, 83, 81);
	height: 40px;
	margin: 0 -24px;
	padding: 0px 24px;
	}
	#topbar p {
		padding-top: 10px;
		font-size: .75rem;
	}
	#topbar p a {
		font-size: .75rem;
	}
	.menu a {
		font-size: 1em;
		padding: 0px 10px;
		margin-left: 0px;
		}
	#navigation {
		font-size: 1.3em;
		margin-left: 0px;
		margin-top: 30px;
	}
	.slideshow .information p {
		display: none;
		}
	.slideshow .loading {
		min-height: 260px;
		}
	.flex-control-nav li {
		font-size: 10px;
		}
	.flex-control-nav li a {
		padding: 0px 8px;
		}
	.homepage .eight.columns {
		display: block;
		width: 100%;
		}
	.home-news {
		margin-left: 0px;
		margin-right: 0px;
		}
	.featured-pages .article,
	.home-news .article,
	.home-news.padding-big .article {
		padding: 18px;
		}
	.featured-pages .holder .information,
	.featured-pages .holder.first .information,
	.featured-pages .holder.last .information, .feature-widget {
		margin: 0 auto;
		width: 90%;
		}
	.widget .feature-widget {
		float: left;
		width: 30%;
	}
	.feature-widget a.button {
		padding: 6px 10px;
		width: 50%;
	}
	.search-results .post-author p {
		float: left;
		display: block;
		width: 100%;
		font-size: 0.9em;
		}
	.footer-content {
		text-align: center;
		}
	.footer-content .align-left {
		float: none;
		display: block;
		}
	.footer-content .align-right {
		float: none;
		display: block;
		text-align: center;
		margin-top: 18px;
		}
	.featured-pages a.button {
		width: 60%;
	}
	.footer-information p {
		text-align: left;
	}
	.footer-widget {
		font-size: .85em;
	}
	.footer p {
		letter-spacing: 0;
	}
}
	
/* iPhone */
	
@media handheld, only screen and (max-width: 767px) {

	/* Typography */
	
	h1 { 
		font-size: 1.7rem; 
		line-height: 1.4; 
		}
	h2 { 
		font-size: 1.6rem; 
		line-height: 1.4; 
		}
	h3 {  
		font-size: 1.4rem; 
		line-height: 1.4; 
		}
	h4 {  
		font-size: 1.2rem; 
		line-height: 1.4; 
		}
	h5 { 
		font-size: 1.1rem; 
		line-height: 1.4; 
		}
	h6 { 
		font-size: 1.0rem; 
		line-height: 1.4; 
		}
	.headline {
		font-size: 1.8rem;
		}
	.headline.small {
		font-size: 1.4rem;
		}
	body, p {  
		font-size: 0.85rem; 
		line-height: 1.8; 
		}
	blockquote {
		margin: 12px 0px;
		padding: 18px 0px;
		}
	blockquote p {
		font-size: 1rem;
		line-height: 1.6;
		}
	}
	
@media only screen and (max-width: 767px) {		

	/* Theme */
	
	.container {
		//margin: 12px;
		padding: 0px;
		}
	#header {
		display: inline-block;
		width: 100%;
		height: auto;
		}
	#header .site-title {
		font-size: 2.6em;
		line-height: 1;
		margin-bottom: 12px;
		}
	#header .site-description {
		font-size: 1.1em;
		line-height: 1.2;
		}
	#navigation {
		background: #242424;
		position: relative;
		top: auto;
		margin-bottom: 24px;
		margin-top: 20px;
		padding: 0px;
		box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
		-moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
		-webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
		}
	#navigation .corner-left,
	#navigation .corner-right {
		display: none;
		}
	.mobile-menu {
		margin: 0px;
		padding: 0px;
		}
	.menu-toggle,
	.main-small-navigation ul.mobile-menu.toggled-on {
		display: block;
		}
	.navigation-main ul.menu,
	.sf-sub-indicator {
		display: none;
		}
	.menu {
		display: block;
		}
	.menu-toggle {
		color: #FFFFFF;
		font-family: 'Oswald', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-weight: 400;
		text-shadow: -1px -1px rgba(0,0,0, 0.1);
		letter-spacing: .5px;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		padding: 12px;
		}
	.menu-toggle:before {
		color: #FFFFFF;
		font-family: 'FontAwesome';
		content: 'ïƒ‰ ';
		top: -1.5px;
		margin-right: 6px;
		position: relative;
		}
	.mobile-menu ul.sub-menu {
		display: block !important;
		visibility: visible !important;
		margin: 0;
		padding: 0;
		}
	.mobile-menu ul,
	.mobile-menu li {
		list-style: none;
		margin: 0;
		padding: 0;
		}
	.mobile-menu li {
		display: block;
		text-align: center;
		line-height: 30px;
		}
	.mobile-menu li li a:before {
		content: '- ';
		}
	.mobile-menu li li li a:before {
		content: '-- ';
		}
	.mobile-menu li li li li a:before {
		content: '--- ';
		}
	.mobile-menu a {
		display: block;
		color: #EEEEEE !important;
		font-size: .8em;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		text-decoration: none;
		text-shadow: -1px -1px rgba(0,0,0, 0.1);
		padding: 6px;
		border-top: 1px solid rgba(0,0,0, 0.1);
		}
	.mobile-menu a:hover {
		background: rgba(0,0,0, 0.08);
		color: #FFFFFF !important;
		text-decoration: none;
		}
	#menu-main-menu{
		float: none;
		margin-top: ;
	}
	.slideshow .loading {
		min-height: 180px;
		}
	.flex-direction-nav li a {
		top: 50%;
		bottom: auto;
		margin-top: -16px;
		}
	.flex-direction-nav .flex-next {
		right: 0;
		border-radius: 2px 0px 0px 2px;
		-moz-border-radius: 2px 0px 0px 2px;
		-khtml-border-radius: 2px 0px 0px 2px;
		-webkit-border-radius: 2px 0px 0px 2px;
		}
	.flex-direction-nav .flex-prev {
		left: 0;
		border-radius: 0px 2px 2px 0px;
		-moz-border-radius: 0px 2px 2px 0px;
		-khtml-border-radius: 0px 2px 2px 0px;
		-webkit-border-radius: 0px 2px 2px 0px;
		}
	.flex-control-nav { 
		display: none;
		}
	.slideshow,
	.featured-pages .holder {
		margin-bottom: 12px;
		}
	.featured-pages,
	.featured-posts {
		margin-bottom: 0px;
		}
	.widget .feature-widget{
		float: none;
		width: 90%;
		margin-bottom: 3em;
		border-bottom: 1px solid rgb(204, 204, 204);
	}
	.featured-pages .holder .information,
	.featured-pages .holder.first .information,
	.featured-pages .holder.last .information {
		margin: 0 auto;
		width: 90%;
		}
	.home-news .information .feature-img {
		margin-right: 0px;
		}
	.portfolio-item.single .post-holder,
	.portfolio-half .post-holder,
	.portfolio-third .post-holder {
		margin-top: 6px;
		margin-bottom: 6px;
		}
	.postarea, .postarea.full, .postarea.middle {
		padding: 12px;
		}
	.post-author p {
		float: left;
		display: block;
		width: 100%;
		font-size: 0.9em;
		}
	.pagination {
		margin-bottom: 12px;
		}
	.tweet-btn, .like-btn, .pin-btn, .plus-btn {
		float: left;
		margin: 4px;
		}
	.archive-column {
		width: 100%;
		padding-right: 0;
		}
	.sidebar {
		padding: 12px 0px 0px 0px;
		}
	.sidebar.left {
		display: none;
		}
	.widget {
		margin-bottom: 12px;
		}
	.container form textarea {
		width: 94% !important;
		}
	#commentform textarea {
		width: 95% !important;
		}
	.footer-widget {
		font-size: 1em;
	}
	.footer-widgets {
		padding: 0px 24px;
		}
	.footer-widgets, .footer-widgets a {
		text-align: center;
	}
	.footer-widgets .widget .footer-widget {
		padding: 0px;
		}
	.footer-widgets .widget {
		float: none;
		width: 100%;
		margin: 0px;
		padding: 24px 0px;
		}
	
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product, 
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals, 
	.woocommerce .cart-collaterals .shipping_calculator, 
	.woocommerce-page .cart-collaterals .shipping_calculator, 
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, 
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		width: 100% !important;
		}
	.container .woocommerce table.shop_table th, 
	.container .woocommerce-page table.shop_table th {
		font-size: 0.8em;
		padding: 4px;
		}
	.container .woocommerce table.shop_table td, 
	.container .woocommerce-page table.shop_table td {
		font-size: 0.7em;
		line-height: 1.4;
		padding: 4px;
		}
	.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
		display: none;
		}
	.woocommerce .cart .button, .woocommerce .cart input.button, 
	.woocommerce-page .cart .button, .woocommerce-page .cart input.button {
		margin: 2px;
		}
	#topbar {
		margin: 0px;
		padding: 0px 10px;
	}
	#topbar p {
		padding-top: 12px;
		font-size: .55rem;
	}
	#topbar p a {
		font-size: .55rem;
	}
	#logo img {
		width: 50%;
		margin: 20px auto;
		float: none;
	}
	.footer-information {
		padding: 24px;
		text-align: center;
	}
	.footer-information p a {
		float: none;
		margin-right: 0;
	}
	.footer p {
		letter-spacing: 0px;
	}
	.featured-pages a.button {
		width: 40%;
	}
	.featured-pages .article {
		margin-bottom: 2em;
	}

		
	/* Grid */
	
	body { 
		-webkit-text-size-adjust: none; 
		-ms-text-size-adjust: none; 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0; 
		padding-left: 0; 
		padding-right: 0; 
		}
	.row { 
		width: 100%; 
		min-width: 0; 
		margin-left: 0; 
		margin-right: 0;
		overflow: visible !important;
		}
	.row .single, 
	.row .half, 
	.row .third, 
	.row .fourth { 
		width: 100%; 
		}
	.row .row .column, .row .row .columns { 
		padding: 0; 
		}
	.column, .columns { 
		width: auto !important; 
		float: none; 
		margin-left: 0; 
		margin-right: 0; 
		}
	.column:last-child, .columns:last-child { 
		margin-right: 0; 
		float: none; 
		}
	[class*="column"] + [class*="column"]:last-child { 
		float: none; 
		}
	[class*="column"]:before, [class*="column"]:after { 
		content:""; 
		display:table; 
		}
	[class*="column"]:after { 
		clear: both; 
		}

	/* Video */
	
	.video {
		width:100% !important;
		height: auto !important;
	}
}